<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>欢迎来到凯帝.米兰</title>
<link href="../css/common.css" type="text/css" rel="stylesheet" media="screen">
<link href="../css/about_milan.css" type="text/css" rel="stylesheet" media="screen">
<script src="../js/jquery.js"></script>
</head>

<body>
<!--top-->
<div class="top_container">
	<div class="top">
    	<a href="../index.html"></a>
        <h2></h2>
        <div class="tel_con"><span>婚庆热线：</span><span class="tel">0746-853588642</span></div>
    </div>
</div>
<!--导航-->
<div class="nav_container">
	<div class="nav">
    	<ul>
            <li><a href="../index.html">首页<br><span>HOME</span></a></li>
            <li><a href="#" class="currentA">关于米兰<br><span>ABOUT MILAN</span></a></li>
            <li><a href="case.html">精彩案例<br><span>CASE</span></a></li>
            <li><a href="theme.html">婚礼主题<br><span>THEME</span></a></li>
            <li><a href="business.html">服务项目<br><span>BUSINESS</span></a></li>
            <li><a href="">价格套系<br><span>PRICES</span></a></li>
            <li><a href="news.html">婚礼资讯<br><span>NEWS</span></a></li>
            <li><a href="">婚礼百科<br><span>ENCYCLOPEDIA</span></a></li>
            <li><a href="">联系我们<br><span>CONTACT</span></a></li>
            <li class="last_li"></li>
        </ul>
    </div>
    <div class="base_line"></div>
</div>
<!--主体信息部分-->
<div class="main_container">
	<p class="current_position">您现在的位置：凯帝•米兰>关于米兰</p>
    	<!--致新人的一封信-->
        <div class="title_all_container">
        	<h1 class="title_all">致新人的一封信</h1>
            <span class="title_all_span">单击本栏可关闭或展开</span>
        </div>
        <div class="mailer">
            <div class="text_con">
                <p>亲爱的各位新人，首先恭喜你们即将共同踏上浪漫的红地毯。荣幸的是，您们的幸福与美好，愿意与凯帝.米兰分享。</p>
                <p>凯帝.米兰凭借独特的创意、贴心的服务以及过硬的专业知识，至今已为近千对新人打造了完美的婚礼，现正逐渐成为昆明婚庆市场知名品牌，并且在长沙高端婚礼策划上展现了非凡的潜力。时至今日，我们与长沙多家星级酒店取得了长期并且稳定的合作关系。</p>
                <p>凯帝.米兰将为您打造属于您的个性婚礼。从婚礼的筹备、酒店预订、主题策划、浪漫婚礼会场布置、到婚礼仪式，每一个细节，我们都尽心尽力为您着想；从婚礼顾问、婚礼督导、婚礼摄影摄像、化妆造型、到顶级婚礼司仪，我们每个人都用心为您服务！带着您的信任、伴着您的幸福，我们将与您一同快乐启航，缔造独一无二的梦幻婚礼！ </p>
                <p class="company_name">——凯帝.米兰婚庆有限公司</p>
            </div>
            <div class="mailer_right">
            	<img src="../images/mailer_1.png">
                <img src="../images/mailer_2.png" class="odd">
                <img src="../images/mailer_3.png" class="xia_margin">
                <img src="../images/mailer_1.png" class="odd xia_margin">
            </div>
    	</div>
        <!--我们能给您带来什么-->
        <div class="title_all_container">
        	<h1 class="title_all">我们能够给您带来什么</h1>
            <span class="title_all_span">单击本栏可关闭或展开</span>
        </div>
        <div class="function">
        	<div class="function_left">
            	<div class="function_1">
                	<img src="../images/function_1.png">
                    <span>戒指，一世相守的承诺</span>
                </div>
                 <div class="text_con">
                    <p>一场完美的婚礼值得您一生回味。试想多年后，当婚礼蛋糕消失了，婚纱封存了，鲜花凋零了，一切都已落幕，但当您翻开尘封的纪念册，回忆起当年那场如梦般的婚礼，是何等幸福的事！许多年后，当我们老去，肩并着肩坐在一起，回忆起当年婚礼的幸福场景时，该多么美好啊！ </p>
                    <p>《诗经》言：“死生契阔，与子相悦；执子之手，与子偕老”。当我们踏上幸福征程的时候、当我们走过红地毯的时候、当我们在许愿亭之下许诺的时候、当我们在点点星光下凝视彼此双眸的时候... ...是你给了我最浪漫的婚礼、最美好无暇的婚姻，还有一生一世相守的承诺！</p>
                    <p class="company_name">——凯帝.米兰婚庆有限公司</p>
                </div>
                <div class="function_2">
                	<img src="../images/function_3.png">
                    <span>执子之手，与子偕老</span>
                </div>
                <div class="function_2 last_function">
                	<img src="../images/function_2.png" >
                    <span>豪华婚车</span>
                </div>
            </div>
           	
            <div class="function_right">
            	<img src="../images/function_4.png" >
                <span>幸福甜蜜的回忆</span>
            </div>
    	</div>
        
        <!--我们的优势-->
        <div class="title_all_container">
        	<h1 class="title_all">我们的优势</h1>
            <span class="title_all_span">单击本栏可关闭或展开</span>
        </div>
        <div class="advantage">
        	<div class="text_con">
            	<p class="sub_title">“五星服务”</p>
                <p><span>用心：</span>我们的婚礼督导将全程跟进您的婚礼。从选择婚期、预订酒店、婚礼会场策划、婚前美容护理、新房装饰，到婚礼当日的婚礼布景执行、婚礼的后续服务，我们一心一意为新人打造浪漫婚礼。</p>
                <p><span>省心</span>：结婚是一个人一生中最重要，最繁琐、也是最浪漫的事情之一。我们的团队会让您把繁琐的事情变得简单化。我们有婚礼网站平台、电子婚礼日志、代购等服务，能够省去您许多奔波劳顿，让您有条不紊的迎接自己的幸福婚礼。
贴心：专属于您的婚礼策划师、婚礼督导、造型师、婚礼秘书，会根据您的喜好，您的个性，贴心为您打造属于您的婚礼，您可以通过电话、网络、短信等各种方式与我们联系、沟通和交流。</p>
				<p><span>放心：</span>凯帝.米兰凭借多年的经验和专业的知识，已成功为近千对新人服务过，多年来，在长沙市乃至湖南省树立了良好的口碑，与长沙多家星级酒店建立了合作关系，我们致力于打造更高品质的婚礼</p>
                <p><span>专心：</span>我们实行一对一的销售和服务策略；坚持专业化的流程与分工；每位同事都分工明确、各司其职、紧密配合，专心致志为您打造完美婚礼。
</p>
				<p class="sub_title" style="margin-top:20px;">专业、品牌、实力保证</p>
                <p>凯帝.米兰从成立之初就定位于专业从事婚庆服务，至今已有六年时间，各类手续齐全，是长沙婚庆行业协会会员单位，在长沙婚庆行业享有良好的口碑，荣获过多项殊荣。凯帝.米兰经过多年的历练与沉淀，品牌知名度和影响力逐步上升，现在，新客户中很大一部分是来源于口碑。</p>
                <p>同时，凯帝.米兰的硬件实力也在不断增强，目前，在官渡古镇拥有两层楼的道具仓库一间，自备了绝大多数道具、器材，甚至包括一些大型道具，如星光大道、舞台、行架等。</p>
                <p class="company_name">——凯帝.米兰婚庆有限公司</p>
           </div>
        </div>
        
        <!--精英团队-->
        <div class="title_all_container">
        	<h1 class="title_all">精英团队</h1>
            <span class="title_all_span">单击本栏可关闭或展开</span>
        </div>
        <div class="team">
        	 <div class="team_left">
            	<img src="../images/team_1.png" >
                <span>首席化妆师</span>
            </div>
        	<div class="team_right">
            	<div class="team_1">
                	<img src="../images/team_2.png">
                    <span>首席摄影师</span>
                </div>
                 <div class="text_con">
                    <p>凯帝.米兰自成立以来，始终坚持以人为本，人才第一的经营发展理念。数十名精英人才纵贯婚礼策划、督导、执行三大业务模块，公司团队以稳健、低调而务实的姿态不断地成长壮大。 </p>
                    <p>凯帝.米兰努力为每一位加入公司的同仁创造亲和、融洽、自由发展的企业文化和成长平台，鼓励知识技能互补，扬长避短，用人所长，协同作战，以最终目标的达成为唯一要旨。 </p>
                    <p>到目前为止，公司汇聚众多业内精英，本科学历以上员工占比达到50%，从业两年以上员工占比超过70%。快乐嫁期团队必将以专业、负责、细致、认真的态度为您打造一场完美婚礼！ </p>
                    <p class="company_name">——凯帝.米兰婚庆有限公司</p>
                </div>
                <div class="team_2">
                	<img src="../images/function_3.png">
                    <span>我们的团队</span>
                </div>
                <div class="team_2 last_function">
                	<img src="../images/function_2.png" >
                    <span>首席策划师</span>
                </div>
            </div>
    	</div>
        <!--我们的联系方式-->
        <div class="title_all_container">
        	<h1 class="title_all">我们的联系方式</h1>
            <span class="title_all_span">单击本栏可关闭或展开</span>
        </div>
        <div class="phone">
        	<div class="text_con">
            	<p class="sub_title">联系方式</p>
                <p>TEL：0731-65309896、13829015018</p>
                <p>QQ： 137095701、137095702、137095703 </p>
				<p>地址：长沙市人民中路傲城大厦A区15楼107室</p>
                <p>网址：www.milan-wedding.cn、www.mi-wedding.com.cn</p>
                <p>官方微博：http://weibo.com/nilankaidi520</p>
                <p class="company_name">——凯帝.米兰婚庆有限公司</p>
           </div>
        </div>
</div>
<!--页脚部分-->
<div class="footer_container">
	<div class="footer">
        <div class="friendlink">
        	<p>地址：长沙市人民中路阳光盛世A区14楼208室&nbsp;&nbsp;&nbsp;&nbsp;电话：0731-98762301</p>
            <span>版权所有 Copyright(C)2009-2010 凯帝.米兰婚庆服务公司</span>
        </div>
        <a href="../index.html" class="footer_logo"></a>
    </div>
</div>
<script src="../js/common.js"></script>
</body>
</html>
