<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>欢迎来到凯帝.米兰</title>
<link href="../css/common.css" type="text/css" rel="stylesheet" media="screen">
<link href="../css/business.css" type="text/css" rel="stylesheet" media="screen">
<script src="../js/jquery.js"></script>
</head>

<body>
<!--top-->
<div class="top_container">
	<div class="top">
    	<a href="../index.html"></a>
        <h2></h2>
        <div class="tel_con"><span>婚庆热线：</span><span class="tel">0746-853588642</span></div>
    </div>
</div>
<!--导航-->
<div class="nav_container">
	<div class="nav">
    	<ul>
            <li><a href="../index.html">首页<br><span>HOME</span></a></li>
            <li><a href="case.html">关于米兰<br><span>ABOUT MILAN</span></a></li>
            <li><a href="case.html">精彩案例<br><span>CASE</span></a></li>
            <li><a href="theme.html">婚礼主题<br><span>THEME</span></a></li>
            <li><a href="#" class="currentA">服务项目<br><span>BUSINESS</span></a></li>
            <li><a href="">价格套系<br><span>PRICES</span></a></li>
            <li><a href="news.html">婚礼资讯<br><span>NEWS</span></a></li>
            <li><a href="">婚礼百科<br><span>ENCYCLOPEDIA</span></a></li>
            <li><a href="">联系我们<br><span>CONTACT</span></a></li>
            <li class="last_li"></li>
        </ul>
    </div>
    <div class="base_line"></div>
</div>
<!--主体信息部分-->
<div class="main_container">
	<p class="current_position">您现在的位置：凯帝•米兰>服务项目</p>
    <!--婚礼策划/婚礼顾问/场地设计布景-->
    <div class="title_all_container">
        	<h1 class="title_all">婚礼策划/婚礼顾问/场地设计布景</h1>
            <span class="title_all_span">单击本栏可关闭或展开</span>
     </div> 
    <div class="plan_container">
    	<div class="plan_left">
            <div class="text_con">
                    <p>爱的各位新人，首先恭喜你们即将共同踏上浪漫的红地毯。荣幸的是，您们的幸福与美好，愿意与快乐嫁期分享！</p>
                    <p> 长沙凯帝.米兰凭借独特的婚礼创意、贴心的服务以及过硬的技术，专业为您打造属于您的个性婚礼。从婚礼的筹备、酒店预订、主题策划、浪漫婚礼会场布置、到婚礼仪式，每一个细节，我们都尽心尽力为您着想；从婚礼管家、婚礼督导、婚礼摄影摄像、化妆造型、到顶级婚礼司仪，我们每个人都用心为您服务！带着您的信任、伴着您的幸福，我们将与您一同快乐启航，缔造独一无二的梦幻婚礼！</p>
                    <p class="company_name">——凯帝.米兰婚庆有限公司</p>
            </div>
            <img class="photo" src="../images/plan_1.png">
    	</div>
    	<div class="plan_center">
        	 <img class="photo" src="../images/plan_2.png">
             <img class="photo" src="../images/plan_3.png">
             <img class="photo" src="../images/plan_4.png">
        </div>
    	<div class="plan_right">
        	<img class="photo" src="../images/plan_5.png">
            <img class="photo" src="../images/plan_6.png">
            <img class="photo" src="../images/plan_7.png">
        </div>
    </div>
    <!--婚纱礼服-->
    <div class="title_all_container">
        	<h1 class="title_all">婚纱礼服</h1>
            <span class="title_all_span">单击本栏可关闭或展开</span>
     </div> 
    <div class="plan_container">
    	<div class="plan_left">
            <div class="text_con" id="text_con_1">
                <p>凯帝.米兰以时尚、个性、创新、快捷的理念，率先在长沙开展了婚纱定制服务，同时提供婚纱礼服的租赁服务，本店婚纱设计专业，做工精细、质量上乘！在凯帝.米兰您一定能找到您梦想中的婚纱！一条属于自己的完美婚纱， 将成为您和他爱情的见证！</p>
                <p class="company_name">——凯帝.米兰婚庆有限公司</p>
            </div>
            <img class="photo" src="../images/wedding_1.png">
    	</div>
    	<div class="plan_center">
        	<img class="photo" src="../images/wedding_2.png">
             <img class="photo" src="../images/wedding_3.png">
        </div>
    	<div class="plan_right">
        	 <img class="photo" src="../images/wedding_4.png">
        	<img class="photo" src="../images/wedding_5.png">
            
        </div>
    </div>
    <!--婚礼摄影/婚礼跟拍-->
    <div class="title_all_container">
        	<h1 class="title_all">婚礼摄影/婚礼跟拍</h1>
            <span class="title_all_span">单击本栏可关闭或展开</span>
     </div> 
    <div id="text_con_2">
    	<p>凯帝.米兰摄影、摄像团队从事婚礼摄影摄像多年，拥有一流设备、一流技术、多年拍摄经验，能够完美捕捉婚礼现场幸福的氛围、定格感动瞬间！</p>
        <p class="company_name">——凯帝.米兰婚庆有限公司</p>	
    </div>
    <!--化妆造型-->
    <div class="title_all_container">
        	<h1 class="title_all">化妆造型</h1>
            <span class="title_all_span">单击本栏可关闭或展开</span>
     </div> 
    <div class="plan_container">
    	<div class="plan_left">
            <div class="text_con" id="text_con_1">
                <p>凯帝.米兰以时尚、个性、创新、快捷的理念，率先在长沙开展了婚纱定制服务，同时提供婚纱礼服的租赁服务，本店婚纱设计专业，做工精细、质量上乘！在凯帝.米兰您一定能找到您梦想中的婚纱！一条属于自己的完美婚纱， 将成为您和他爱情的见证！</p>
                <p class="company_name">——凯帝.米兰婚庆有限公司</p>
            </div>
    	</div>
    	<div class="plan_center">
        	<img class="photo" src="../images/makeup_1.png">
        </div>
    	<div class="plan_right">
        	 <img class="photo" src="../images/makeup_2.png">  
        </div>
    </div>
     <!--数码设计/后期制作-->
     <div class="title_all_container">
        	<h1 class="title_all">数码设计/后期制作</h1>
            <span class="title_all_span">单击本栏可关闭或展开</span>
     </div> 
    <div id="text_con_2">
    	<p>凯帝.米兰拥有强大的数码后期设计制作能力，从基础PS设计、视频剪辑、Flash，到影视特效、网站制作均无障碍，您所能想到的我们都能为您一一呈现！</p>
        <p class="company_name">——凯帝.米兰婚庆有限公司</p>	
    </div>
     <!--礼宾车队-->
     <div class="title_all_container">
        	<h1 class="title_all">礼宾车队</h1>
            <span class="title_all_span">单击本栏可关闭或展开</span>
     </div> 
    <div class="plan_container">
    	<div class="plan_left">
            <div class="text_con" id="text_con_1">
                <p>凯帝.米兰凭借多年来在业界树立的口碑，与昆明多家车队建立了良好而稳固的合作关系，能够以超低的价格、一流的服务为各位新人提供各式婚礼礼宾用车，车辆涵盖了高端的加长林肯、凯迪拉克、奔驰、悍马以及婚礼常用的奥迪、帕萨特、宝马等车型。
　　另外，凯帝.米兰还为您贴心提供了精美的婚车装饰业务，让您不再为琐事费心的同时享受到贵宾级的服务！</p>
                <p class="company_name">——凯帝.米兰婚庆有限公司</p>
            </div>
            <img class="photo" src="../images/car_1.png">
    	</div>
    	<div class="plan_center">
        	<img class="photo" src="../images/car_2.png">
            <img class="photo" src="../images/car_3.png">
            <img class="photo" src="../images/car_4.png">
        </div>
    	<div class="plan_right">
        	<img class="photo" src="../images/car_5.png">
            <img class="photo" src="../images/car_6.png">
            
        </div>
    </div>
</div>
<!--页脚部分-->
<div class="footer_container">
	<div class="footer">
        <div class="friendlink">
        	<p>地址：长沙市人民中路阳光盛世A区14楼208室&nbsp;&nbsp;&nbsp;&nbsp;电话：0731-98762301</p>
            <span>版权所有 Copyright(C)2009-2010 凯帝.米兰婚庆服务公司</span>
        </div>
        <a href="../index.html" class="footer_logo"></a>
    </div>
</div>
<script src="../js/common.js"></script>
</body>
</html>
