<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>欢迎来到凯帝.米兰</title>
<link href="../css/common.css" type="text/css" rel="stylesheet" media="screen">
<link href="../css/case.css" type="text/css" rel="stylesheet" media="screen">
<script src="../js/jquery.js"></script>
</head>

<body>
<!--top-->
<div class="top_container">
	<div class="top">
    	<a href="../index.html"></a>
        <h2></h2>
        <div class="tel_con"><span>婚庆热线：</span><span class="tel">0746-853588642</span></div>
    </div>
</div>
<!--导航-->
<div class="nav_container">
	<div class="nav">
    	<ul>
            <li><a href="../index.html">首页<br><span>HOME</span></a></li>
            <li><a href="about_milan.html">关于米兰<br><span>ABOUT MILAN</span></a></li>
            <li><a href="#" class="currentA">精彩案例<br><span>CASE</span></a></li>
            <li><a href="theme.html">婚礼主题<br><span>THEME</span></a></li>
            <li><a href="business.html">服务项目<br><span>BUSINESS</span></a></li>
            <li><a href="">价格套系<br><span>PRICES</span></a></li>
            <li><a href="news.html">婚礼资讯<br><span>NEWS</span></a></li>
            <li><a href="">婚礼百科<br><span>ENCYCLOPEDIA</span></a></li>
            <li><a href="">联系我们<br><span>CONTACT</span></a></li>
            <li class="last_li"></li>
        </ul>
    </div>
    <div class="base_line"></div>
</div>
<!--主体信息部分-->
<div class="main_container">
	<p class="current_position">您现在的位置：凯帝•米兰>精彩案例</p>
     <div class="title_all_container">
        	<h1 class="title_all">精彩案例</h1>
            <span class="title_all_span">单击本栏可关闭或展开</span>
     </div>
    <div class="case_container">
    	<div class="case_left">
            <div class="text_con">
                    <p>完美的布景、绚丽的花艺、精致的玩偶、非凡的灯光效果、极致的配合，这就是凯帝.米兰呈现给您的精美绝伦的婚礼；若干年后，您还能清晰地记得婚礼那天的情景，满是幸福甜蜜的回忆，这就是凯帝.米兰努力的目标！</p>
                    <p> 我们不是唯一，但我们永远追求更好，更新，更卓越！2014，快乐嫁期仍在超越，精致华美婚礼尽在凯帝.米兰！</p>
                    <p class="company_name">——凯帝.米兰婚庆有限公司</p>
            </div>
            <div class="case_detail">
            	<img src="../images/case_1.png">
                <div class="case_text">
                	<p>我们的徐老师和周老师所有流程都和其他人不一样，先蜜月后婚礼～马尔代夫之旅让他们深深迷恋上那一片蓝！设计师@里人子 采集了大海的蓝色让它洋溢于整个婚礼的现场！</p>
                    <p>～2014.9.5凯帝.米兰.长沙文汇酒店婚礼策</p>
                    <a href="">了解详情>></a>
                </div>
            </div>
            <div class="case_detail">
            	<img src="../images/case_2.png">
                <div class="case_text">
                	<p>找到自己中意的一半是一种幸福，能够和中意的一半在漫长而又琐碎的未来生活中，活出精彩，过的默契，则是更大的幸福。蓝天白云下你们许下承诺，爱就是一生一世！祝福叶先生成小姐新婚快乐！</p>
                    <p>～2014.10.01凯帝.米兰.长沙晟世仟酒店婚礼策划.</p>
                    <a href="">了解详情>></a>
                </div>
            </div>
    	</div>
    	<div class="case_center">
        	<div class="case_detail">
            	<img src="../images/case_3.png">
                <div class="case_text">
                	<p>找到自己中意的一半是一种幸福，能够和中意的一半在漫长而又琐碎的未来生活中，活出精彩，过的默契，则是更大的幸福。蓝天白云下你们许下承诺，爱就是一生一世！祝福叶先生成小姐新婚快乐！</p>
                    <p>～2014.10.01凯帝.米兰.长沙晟世仟酒店婚礼策划.</p>
                    <a href="">了解详情>></a>
                </div>
            </div>
            <div class="case_detail">
            	<img src="../images/case_4.png">
                <div class="case_text">
                	<p>找到自己中意的一半是一种幸福，能够和中意的一半在漫长而又琐碎的未来生活中，活出精彩，过的默契，则是更大的幸福。蓝天白云下你们许下承诺，爱就是一生一世！祝福叶先生成小姐新婚快乐！</p>
                    <p>～2014.10.01凯帝.米兰.长沙晟世仟酒店婚礼策划.</p>
                    <a href="">了解详情>></a>
                </div>
            </div>
            <div class="case_detail">
            	<img src="../images/case_5.png">
                <div class="case_text">
                	<p>找到自己中意的一半是一种幸福，能够和中意的一半在漫长而又琐碎的未来生活中，活出精彩，过的默契，则是更大的幸福。蓝天白云下你们许下承诺，爱就是一生一世！祝福叶先生成小姐新婚快乐！</p>
                    <p>～2014.10.01凯帝.米兰.长沙晟世仟酒店婚礼策划.</p>
                    <a href="">了解详情>></a>
                </div>
            </div>
        </div>
    	<div class="case_right">
        	<div class="case_detail">
            	<img src="../images/case_6.png">
                <div class="case_text">
                	<p>找到自己中意的一半是一种幸福，能够和中意的一半在漫长而又琐碎的未来生活中，活出精彩，过的默契，则是更大的幸福。蓝天白云下你们许下承诺，爱就是一生一世！祝福叶先生成小姐新婚快乐！</p>
                    <p>～2014.10.01凯帝.米兰.长沙晟世仟酒店婚礼策划.</p>
                    <a href="">了解详情>></a>
                </div>
            </div>
            <div class="case_detail">
            	<img src="../images/case_7.png">
                <div class="case_text">
                	<p>找到自己中意的一半是一种幸福，能够和中意的一半在漫长而又琐碎的未来生活中，活出精彩，过的默契，则是更大的幸福。蓝天白云下你们许下承诺，爱就是一生一世！祝福叶先生成小姐新婚快乐！</p>
                    <p>～2014.10.01凯帝.米兰.长沙晟世仟酒店婚礼策划.</p>
                    <a href="">了解详情>></a>
                </div>
            </div>
            <div class="case_detail">
            	<img src="../images/case_8.png">
                <div class="case_text">
                	<p>找到自己中意的一半是一种幸福，能够和中意的一半在漫长而又琐碎的未来生活中，活出精彩，过的默契，则是更大的幸福。蓝天白云下你们许下承诺，爱就是一生一世！祝福叶先生成小姐新婚快乐！</p>
                    <p>～2014.10.01凯帝.米兰.长沙晟世仟酒店婚礼策划.</p>
                    <a href="">了解详情>></a>
                </div>
            </div>
        </div>
    </div>
    
</div>
<!--页脚部分-->
<div class="footer_container">
	<div class="footer">
        <div class="friendlink">
        	<p>地址：长沙市人民中路阳光盛世A区14楼208室&nbsp;&nbsp;&nbsp;&nbsp;电话：0731-98762301</p>
            <span>版权所有 Copyright(C)2009-2010 凯帝.米兰婚庆服务公司</span>
        </div>
        <a href="../index.html" class="footer_logo"></a>
    </div>
</div>
<script src="../js/common.js"></script>
</body>
</html>
