<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>欢迎来到凯帝.米兰</title>
<link href="../css/common.css" type="text/css" rel="stylesheet" media="screen">
<link href="../css/news.css" type="text/css" rel="stylesheet" media="screen">
<script src="../js/jquery.js"></script>
</head>

<body>
<!--top-->
<div class="top_container">
	<div class="top">
    	<a href="../index.html"></a>
        <h2></h2>
        <div class="tel_con"><span>婚庆热线：</span><span class="tel">0746-853588642</span></div>
    </div>
</div>
<!--导航-->
<div class="nav_container">
	<div class="nav">
    	<ul>
            <li><a href="../index.html">首页<br><span>HOME</span></a></li>
            <li><a href="about_milan.html">关于米兰<br><span>ABOUT MILAN</span></a></li>
            <li><a href="case.html">精彩案例<br><span>CASE</span></a></li>
            <li><a href="theme.html" >婚礼主题<br><span>THEME</span></a></li>
            <li><a href="business.html">服务项目<br><span>BUSINESS</span></a></li>
            <li><a href="">价格套系<br><span>PRICES</span></a></li>
            <li><a href="#" class="currentA">婚礼资讯<br><span>NEWS</span></a></li>
            <li><a href="">婚礼百科<br><span>ENCYCLOPEDIA</span></a></li>
            <li><a href="">联系我们<br><span>CONTACT</span></a></li>
            <li class="last_li"></li>
        </ul>
    </div>
    <div class="base_line"></div>
</div>
<!--主体信息部分-->
<div class="main_container">
	<p class="current_position">您现在的位置：凯帝•米兰>婚礼资讯</p>
    <div class="title_all_container">
        	<h1 class="title_all">婚礼资讯</h1>
            <span class="title_all_span">单击本栏可关闭或展开</span>
     </div> 	
    <div class="news_container">
    	<div class="news_left">
        	<p>行业新闻>></p>
            <ul>
            	<li><a href="">• 杰伦婚礼视频来了，如童话般梦幻</a></li>
                <li><a href="" class="currentA">• 蜜月：柬埔寨 身在人间 心处天堂</a></li>
                <li><a href="">• 方林文化涠洲岛采风</a></li>
                <li><a href="">• 《来自星星的你》经典语录</a></li>
                <li><a href="">• “浪漫到极点”——南极婚礼</a></li>
                <li><a href="">• 2013年最潮婚礼元素总结</a></li>
                <li><a href="">• 2014年精美日历下载</a></li>
                <li><a href="">• 奥运冠军刘璇在香港举行海上婚礼</a></li>
                <li><a href="">• “联动国际结婚流行趋势、引领中国结婚</a></li>
                <li><a href="">• 时尚消费”——2013年中国婚博会开幕</a></li>
                <li><a href="">• 陪伴与懂得，比爱情更加重要</a></li>
                <li><a href="">• 密歇根真人婚礼秀</a></li>
                <li><a href="">• 鲜花 彩带 易拉罐 西式婚车装点的浪漫</a></li>
                <li><a href="">• 夏威夷开放同性婚姻6对新人举行婚礼</a></li>
                <li><a href="">• GiGi梁咏琪公开私家温馨浪漫婚礼大片</a></li>
                <li><a href="">• 快乐嫁期婚庆服务有限公司2013年年会</a></li>
                <li><a href="">• 梦幻花园 浪漫的别墅婚礼</a></li>
                <li><a href="">• 2013年精美年历</a></li>
                <li><a href="">• 快乐嫁期带你领略不同地方的趣味婚俗</a></li>
                <li><a href="">• 冬季婚礼风格喜帖的冰雪情趣</a></li>
                <li><a href="">• 泰国蜜月旅行 住宿饮食诀窍简约</a></li>
                <li><a href="">• 郭晶晶霍启刚婚宴揭秘 </a></li>
            </ul>
        </div>
        <div class="news_right">
        	<h2>蜜月：柬埔寨 身在人间 心处天堂</h2>
            <p>柬埔寨的魅力，在吴哥窟那抹最神秘的东方微笑中、在淳朴和浓厚的文化底蕴中，如果你期待一场给视觉与心灵带来巨大震撼的蜜月，那就去柬埔寨吧，它会让你终生难忘。 　　耸入云霄的棕榈树、农家赶牛羊的耕作场面、就此取材而搭建的高脚茅草屋、小商小贩的摊上数不尽的丰盛水果、暹粒城中散落的被古王朝废弃的吴哥城堡、迷人的胜利海滩……真正的柬埔寨什么样，只有你来了，看到了，心被古迹的神秘震撼了，感受到夜的灯红酒绿和繁华，你才会知道，有一种感觉就是身在人间，心处天堂。</p>
            <p>行前必知：</p>
            <p>签证：柬埔寨给予中国公民落地签证待遇。</p>
            <p>语言: 高棉语，但是柬埔寨很多旅游行业的人都会说英语，而且很多出租车司机会讲简单中文。</p>
            <p>时差: 柬埔寨比北京时间晚1小时。</p>
            <p>货币:当地货币瑞尔，通常用于找零，柬埔寨通用美金，多带点小面额的美金。</p>
            <p>最佳出行：</p>
            <p>最佳旅游时间:柬埔寨属热带气候，5月至10月是雨季，气温在33℃左右。11月至4月是柬埔寨的旱季，天气晴好，早晚比较凉爽，平均气温为25-32℃，是游览的最佳季节，但是旱季时吴哥的水池几乎是干枯的，洞里萨湖水也不丰沛，金边至暹粒的船可能停航。</p>
            <p>最实惠价格: 5月至10月是雨季，五一黄金周前的机票价格一般会比较便宜，而且雨季的游客也较少，许多旅馆会降价。虽说是雨季，但柬埔寨的雨季一般不会整天下雨，通常是上午晴天，中午到下午开始下雨，有时会下一阵，有时下一个小时就停了。而且雨季中的吴哥窟会有和旱季不同的景象，湿润的树木和石头拍照出来会有更古朴的色泽和质感。但是下雨时光线较暗，对拍照有一定影响。</p>
            <p>游玩秘籍:</p>
            <p>探究柬埔寨大皇宫:金边最主要的建筑群就是建于19世纪中叶、位于洞里萨河畔大皇宫。在洞里萨河上，看蓝天白云下金碧辉煌的皇宫大屋檐与一座座尖塔组合成的美景；夜晚从河面上看向那些宫殿的剪影，就显得很神秘。柬埔寨现任国王西哈莫尼的私宅也在其中，皇宫内除皇家居住区不对游人开放，大部分建筑物都可以看到，绝对满足游客对国王隐私的探秘心理。如果你进皇宫参观，发现内宫没有挂国旗，那么就说明现在国王不在首都，也就没有外事活动，那么加冕厅就可以参观了，大厅的尽头有个金灿灿的“龙床”，国王一辈子也就加冕的时候可以坐一次。</p>
            <p>神秘吴哥:与喧嚣的金边相比，暹粒显得格外安静。令世界各地的旅行者对这座不起眼的小城趋之若骛的是被列为世界七大奇迹之一的吴哥窟。吴哥窟是对吴哥古迹群的统称，这是一座由宫殿、寺庙、花园、城堡组成的完整的城市，古高棉王国的首都，那里有著名的“高棉的微笑”。一般游览吴哥窟有三条常规游览线路——“小圈”、“大圈”、“外圈”。小圈和大圈的包车价格在25美元，外圈包车价格约50美元。吴哥窟的门票分三种：一日票20美元，三日票40美元，可以选择连续三天或一周内任意三天参观;七日票60美元，可以选择连续七天或一个月内任意七天。</p>
            <p>体验夜市按摩:暹粒老市场附近的夜市有不少按摩的小店和摊点，有足底按摩和全身按摩。1美元15分钟，3美元1小时。夜市街边还有不少露天的小鱼足疗（Dr. Fish）摊点，通常是摆着一个亮着灯的大鱼缸，游客可以坐在旁边把脚泡在鱼缸里，让小鱼给双足做美容，主街上的店铺一般3美元半小时，可以砍价，稍微偏一点的巷子里有1.5-2美元的价格，甚至还可以送一杯饮料。</p>
            <p>西哈努克的胜利海滩（Victory beach）:位于柬埔寨西南海岸线上的西哈努克港，是柬埔寨最大的海港，而胜利海滩就位于这座城的西北角，胜利海滩长达2公里，被礁石和小山分成两段。胜利海滩的北段是看日落的最好地方，南段又称夏威夷海滩或是国王海滩，可以在此租船出海。这座城市最诱人之处在于白沙眩目、海水湛蓝的海滩。走出暹粒的千年迷城，再来到西哈努克港的沙滩上度过几天悠闲假日，嚼着现烤的鱼虾美味，柬埔寨之旅可称得上完美了。</p>
        </div>
    </div> 
</div>
<!--页码-->
<div class="page_con">
     <span>共10条 每页12条 页次：1/1</span>
     <div class="page">
            <a href="" class="page_1">首页</a>
            <a href="" class="page_2">上一页</a>
            <a href="" class="page_3">1</a>
            <a href="" class="page_2">下一页</a>
            <select style="display:block;float:left;margin-right:5px;">
                <option>第1页</option>
            </select>
            <a href="" class="page_1">尾页</a>
    </div>
</div>
<!--页脚部分-->
<div class="footer_container">
	<div class="footer">
        <div class="friendlink">
        	<p>地址：长沙市人民中路阳光盛世A区14楼208室&nbsp;&nbsp;&nbsp;&nbsp;电话：0731-98762301</p>
            <span>版权所有 Copyright(C)2009-2010 凯帝.米兰婚庆服务公司</span>
        </div>
        <a href="../index.html" class="footer_logo"></a>
    </div>
</div>
<script src="../js/common.js"></script>
</body>
</html>

