<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>欢迎来到凯帝.米兰</title>
<link href="../css/common.css" type="text/css" rel="stylesheet" media="screen">
<link href="../css/theme.css" type="text/css" rel="stylesheet" media="screen">
<script src="../js/jquery.js"></script>
</head>

<body>
<!--top-->
<div class="top_container">
	<div class="top">
    	<a href="../index.html"></a>
        <h2></h2>
        <div class="tel_con"><span>婚庆热线：</span><span class="tel">0746-853588642</span></div>
    </div>
</div>
<!--导航-->
<div class="nav_container">
	<div class="nav">
    	<ul>
            <li><a href="../index.html">首页<br><span>HOME</span></a></li>
            <li><a href="case.html">关于米兰<br><span>ABOUT MILAN</span></a></li>
            <li><a href="case.html">精彩案例<br><span>CASE</span></a></li>
            <li><a href="#" class="currentA">婚礼主题<br><span>THEME</span></a></li>
            <li><a href="business.html">服务项目<br><span>BUSINESS</span></a></li>
            <li><a href="">价格套系<br><span>PRICES</span></a></li>
            <li><a href="news.html">婚礼资讯<br><span>NEWS</span></a></li>
            <li><a href="">婚礼百科<br><span>ENCYCLOPEDIA</span></a></li>
            <li><a href="">联系我们<br><span>CONTACT</span></a></li>
            <li class="last_li"></li>
        </ul>
    </div>
    <div class="base_line"></div>
</div>
<!--主体信息部分-->
<div class="main_container">
	<p class="current_position">您现在的位置：凯帝•米兰>婚礼主题</p>
    <div class="title_all_container">
        	<h1 class="title_all">婚礼主题</h1>
            <span class="title_all_span">单击本栏可关闭或展开</span>
     </div> 	
    <div class="theme_container">
    	<div class="theme_detail">
        	<img src="../images/theme_1.png">
            <a href="" class="theme_text">
            	<h1>THE ONE</h1>
                <p>凯帝.米兰婚礼策划--主题婚礼之《THE ONE》</p>
            </a>
        </div>
        <div class="theme_detail">
        	<img src="../images/theme_2.png">
            <a href="" class="theme_text">
            	<h1>爱的港湾</h1>
                <p>凯帝.米兰婚礼策划--主题婚礼之《爱的港湾》</p>
            </a>
        </div>
        <div class="theme_detail">
        	<img src="../images/theme_3.png">
            <a href="" class="theme_text">
            	<h1>爱满谦琨</h1>
                <p>凯帝.米兰婚礼策划--主题婚礼之《爱满谦琨》</p>
            </a>
        </div>
        <div class="theme_detail">
        	<img src="../images/theme_4.png">
            <a href="" class="theme_text">
            	<h1>粉色记忆</h1>
                <p>凯帝.米兰婚礼策划--主题婚礼之《粉色记忆》</p>
            </a>
        </div>
        <div class="theme_detail">
        	<img src="../images/theme_5.png">
            <a href="" class="theme_text">
            	<h1>海洋之恋</h1>
                <p>凯帝.米兰婚礼策划--主题婚礼之《海洋之恋》</p>
            </a>
        </div>
        <div class="theme_detail">
        	<img src="../images/theme_6.png">
            <a href="" class="theme_text">
            	<h1>梦之恋</h1>
                <p>凯帝.米兰婚礼策划--主题婚礼之《梦之恋》</p>
            </a>
        </div>
        <div class="theme_detail">
        	<img src="../images/theme_7.png">
            <a href="" class="theme_text">
            	<h1>星梦缘</h1>
                <p>凯帝.米兰婚礼策划--主题婚礼之《星梦缘》</p>
            </a>
        </div>
        <div class="theme_detail">
        	<img src="../images/theme_8.png">
            <a href="" class="theme_text">
            	<h1>幸福相依</h1>
                <p>凯帝.米兰婚礼策划--主题婚礼之《幸福相依》</p>
            </a>
        </div>
        <div class="theme_detail">
        	<img src="../images/theme_9.png">
            <a href="" class="theme_text">
            	<h1>一路有你</h1>
                <p>凯帝.米兰婚礼策划--主题婚礼之《一路有你》</p>
            </a>
        </div>
        <div class="theme_detail">
        	<img src="../images/theme_10.png">
            <a href="" class="theme_text">
            	<h1>情定高尔夫</h1>
                <p>凯帝.米兰婚礼策划--主题婚礼之《情定高尔夫》</p>
            </a>
        </div>
    </div> 
</div>
<!--页码-->
<div class="page_con">
     <span>共10条 每页12条 页次：1/1</span>
     <div class="page">
            <a href="" class="page_1">首页</a>
            <a href="" class="page_2">上一页</a>
            <a href="" class="page_3">1</a>
            <a href="" class="page_2">下一页</a>
            <select style="display:block;float:left;margin-right:5px;">
                <option>第1页</option>
            </select>
            <a href="" class="page_1">尾页</a>
    </div>
</div>
<!--页脚部分-->
<div class="footer_container">
	<div class="footer">
        <div class="friendlink">
        	<p>地址：长沙市人民中路阳光盛世A区14楼208室&nbsp;&nbsp;&nbsp;&nbsp;电话：0731-98762301</p>
            <span>版权所有 Copyright(C)2009-2010 凯帝.米兰婚庆服务公司</span>
        </div>
        <a href="../index.html" class="footer_logo"></a>
    </div>
</div>
<script src="../js/common.js"></script>
</body>
</html>
