@charset "utf-8";
/* CSS Document */
.banner{
	width:100%;
	overflow:hidden;
	}
.banner img{
	width:100%;
	}
.main_container{
	margin:0 auto;
	width:980px;
	}
.title h1{
	font-family:arial;
	font-size:40px;
	color:#333;
	line-height:80px;
	}
.title span{
	font-family:"微软雅黑", "宋体";
	font-size:14px;
	color:#4c4c4c;
	background:url(../images/title_bg.png) repeat-x center bottom;
	padding-bottom:2px;
	}
.main{
	width:980px;
	background:url(../images/contact_us.png) no-repeat right 0;
	color:#333;
	}
.main p{
	line-height:20px;
	padding:40px 0 100px 40px;
	}


