@charset "utf-8";
/* CSS Document */
.banner{
	width:100%;
	overflow:hidden;
	}
.banner img{
	width:100%;
	}
.main_container{
	margin:0 auto;
	width:980px;
	}
.title h1{
	font-family:arial;
	font-size:40px;
	color:#333;
	line-height:80px;
	}
.title span{
	font-family:"微软雅黑", "宋体";
	font-size:14px;
	color:#4c4c4c;
	background:url(../images/title_bg.png) repeat-x center bottom;
	padding-bottom:2px;
	}
.words input{
	border:solid 1px #ddd;
	width:420px;
	height:20px;
	/*background-color:#fbfbfb;*/
	}
.words{
	margin:20px 0 0 80px;
	}
.words span{
	display:block;
	height:5px;
	width:6px;
	background-image:url(../images/xing.png);
	}
.words tr{
	height:30px;
	}
.content{
	margin-bottom:100px;
	}



