@charset "utf-8";
/* CSS Document */
.main_container{
	width:1000px;
	margin:0 auto;
	}
.case_container{
	overflow:hidden;
	}
.case_left,.case_center,.case_right{
	width:320px;
	margin-left:10px;
	float:left;
	}
.case_left .text_con{
	width:320px;
	height:240px;
	margin-top:10px;
	}
.case_detail img{
	border:solid #FFF 10px;
	}
.case_detail{
	margin-top:10px;
	}
.case_text{
	width:300px;
	padding:10px;
	background-color:#FFF;
	}
.case_text p{
	color:#808080;
	line-height:18px;
	text-indent:24px;
	}
.case_text a{
	text-align:right;
	width:290px;
	margin:10px 0;
	display:block;
	color:#ec2992;
	}