<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>欢迎来到南北天城</title>
<link href="../css/common.css" type="text/css" rel="stylesheet" media="screen">
<link href="../css/news.css" type="text/css" rel="stylesheet" media="screen">
<script src="../js/jquery.js"></script>
</head>

<body>
<!--导航部分-->
<div class="nav_container">
	<div class="nav_con">
    	<div class="logo">
        	<a href="../index.html"></a>
        </div>
        <div class="nav">
        	<a href="../index.html">首页<br><span>HOME</span></a>
            <a href="about_us.html">关于我们<br><span>ABOUT US</span></a>
            <a href="certificate.html">资质证书<br><span>CERTIFICATE</span></a>
            <a href="project_show.html">项目展示<br><span>PROJECT</span></a>
            <a href="#" class="currentA">新闻资讯<br><span>NEWS</span></a>
            <a href="recruitment.html">人才招聘<br><span>RECRUITMENT</span></a>
            <a href="feedback.html">意见反馈<br><span>FEEDBACK</span></a>
            <a href="contact.html">联系我们<br><span>CONTACT</span></a>
        </div>
    </div>
</div>
<!--banner部分-->
<div class="banner">
	<img src="../images/banner_11.png">
</div>
<!--主体信息部分-->
<div class="main_container">
	<div class="title">
    	<h1>NEWS&nbsp;<span>新闻动态</span></h1>
    </div>
    <div class="content">
    	<div class="headline_news">
        	<img src="../images/headline_news.png">
            <dl>
                <dt>南北新城•丽湖罄居2月28号荣耀开盘</dt>
                <dd>丽湖罄居位于岳阳市东港区天津路与海滨四路交汇处，小区占地约33亩，项目总建筑面积55000平米，其中住宅约45000平米......&nbsp;&nbsp;&nbsp;&nbsp;<a href="news_detail_01.html">详细>></a>
               </dd>
        	</dl>
        </div>
    	<dl>
        	<dt><span class="news_title">2014年度表彰大会胜利召开</span><span class="news_date">2014-12-08</span></dt>
            <dd>分析企业互联网现状，定位互联网规划目标，为不同客户创造适合自己的互联网品牌形象。手机APP开发移动营销策略与创配
            	合开发全兼容手机等划屏设备的手网站建设开发发跨多平台APP应用设计开发应用系统开发鸿睿思博为您提供安全便
				捷的程序系统开发,为企业提供更好的信息化解决方案。&nbsp;&nbsp;&nbsp;&nbsp;<a href="news_detail_01.html">详细>></a>
           </dd>
        </dl>
        <dl>
        	<dt><span class="news_title">2014年度表彰大会胜利召开</span><span class="news_date">2014-12-08</span></dt>
            <dd>分析企业互联网现状，定位互联网规划目标，为不同客户创造适合自己的互联网品牌形象。手机APP开发移动营销策略与创配
            	合开发全兼容手机等划屏设备的手网站建设开发发跨多平台APP应用设计开发应用系统开发鸿睿思博为您提供安全便
				捷的程序系统开发,为企业提供更好的信息化解决方案。&nbsp;&nbsp;&nbsp;&nbsp;<a href="news_detail_01.html">详细>></a>
           </dd>
        </dl>
        <dl>
        	<dt><span class="news_title">2014年度表彰大会胜利召开</span><span class="news_date">2014-12-08</span></dt>
            <dd>分析企业互联网现状，定位互联网规划目标，为不同客户创造适合自己的互联网品牌形象。手机APP开发移动营销策略与创配
            	合开发全兼容手机等划屏设备的手网站建设开发发跨多平台APP应用设计开发应用系统开发鸿睿思博为您提供安全便
				捷的程序系统开发,为企业提供更好的信息化解决方案。&nbsp;&nbsp;&nbsp;&nbsp;<a href="news_detail_01.html">详细>></a>
           </dd>
        </dl>
        <dl>
        	<dt><span class="news_title">2014年度表彰大会胜利召开</span><span class="news_date">2014-12-08</span></dt>
            <dd>分析企业互联网现状，定位互联网规划目标，为不同客户创造适合自己的互联网品牌形象。手机APP开发移动营销策略与创配
            	合开发全兼容手机等划屏设备的手网站建设开发发跨多平台APP应用设计开发应用系统开发鸿睿思博为您提供安全便
				捷的程序系统开发,为企业提供更好的信息化解决方案。&nbsp;&nbsp;&nbsp;&nbsp;<a href="news_detail_01.html">详细>></a>
           </dd>
        </dl>
        <dl>
        	<dt><span class="news_title">2014年度表彰大会胜利召开</span><span class="news_date">2014-12-08</span></dt>
            <dd>分析企业互联网现状，定位互联网规划目标，为不同客户创造适合自己的互联网品牌形象。手机APP开发移动营销策略与创配
            	合开发全兼容手机等划屏设备的手网站建设开发发跨多平台APP应用设计开发应用系统开发鸿睿思博为您提供安全便
				捷的程序系统开发,为企业提供更好的信息化解决方案。&nbsp;&nbsp;&nbsp;&nbsp;<a href="news_detail_01.html">详细>></a>
           </dd>
        </dl>
    </div>
</div>
<!--页码-->
<div class="page_con">
     <span>共6条 每页10条 页次：1/1</span>
     <div class="page">
            <a href="" class="page_1">首页</a>
            <a href="" class="page_2">上一页</a>
            <a href="" class="page_3">1</a>
            <a href="" class="page_2">下一页</a>
            <select style="display:block;float:left;margin-right:5px;">
                <option>第1页</option>
            </select>
            <a href="" class="page_1">尾页</a>
    </div>
</div>
<!--页脚部分-->
<div class="footer_container">
	<div class="footer">
    	<div class="links">
            <a href="../index.html">首页</a>&nbsp;|
            <a href="about_us.html">关于我们</a>&nbsp;|
            <a href="contact.html">联系方式</a>&nbsp;|
            <a href="feedback.html">意见反馈</a>&nbsp;|
            <a href="news.html">新闻资讯</a>&nbsp;|
            <a href="recruitment.html">人才招聘</a>&nbsp;|
            <a href="#"> 友情链接</a><br>
            <span class="contact">电话：86-0512-65386900&nbsp;&nbsp;&nbsp;&nbsp;传真：86-0512-65808505&nbsp;&nbsp;&nbsp;&nbsp;邮箱：sztysjj@163.com</span><br>
            <span class="copyright">版权所有 Copyright(C)南北天城房地产开发有限公司&nbsp;&nbsp;|&nbsp;&nbsp;建议电脑设置分辨率1024*768 苏ICP备05122122号</span>	
        </div>
        <div class="logo_1"><a href="../index.html"></a></div>
    </div>
</div>
<script src="../js/common.js"></script>
</body>
</html>
