<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>欢迎来到南北天城</title>
<link href="../css/common.css" type="text/css" rel="stylesheet" media="screen">
<link href="../css/project_show_detail01.css" type="text/css" rel="stylesheet" media="screen">
<script src="../js/jquery.js"></script>
</head>

<body>
<!--导航部分-->
<div class="nav_container">
	<div class="nav_con">
    	<div class="logo">
        	<a href="../index.html"></a>
        </div>
        <div class="nav">
        	<a href="../index.html">首页<br><span>HOME</span></a>
            <a href="about_us.html">关于我们<br><span>ABOUT US</span></a>
            <a href="certificate.html">资质证书<br><span>CERTIFICATE</span></a>
            <a href="project_show.html" class="currentA">项目展示<br><span>PROJECT</span></a>
            <a href="news.html">新闻资讯<br><span>NEWS</span></a>
            <a href="recruitment.html">人才招聘<br><span>RECRUITMENT</span></a>
            <a href="feedback.html">意见反馈<br><span>FEEDBACK</span></a>
            <a href="contact.html">联系我们<br><span>CONTACT</span></a>
        </div>
    </div>
</div>
<!--banner部分-->
<div class="banner">
	<img src="../images/banner_11.png">
</div>
<!--主体信息部分-->
<div class="main_container">
	<div class="title">
    	<h1>PROJECT&nbsp;<span>项目展示</span></h1>
    </div>
    <h2 class="pro_name"><span>项目名称：幸福海岸</span><a href="">在线订购</a></h2>
    <img src="../images/house_detail_01.png">
    <h1 class="intro">项目简介</h1>
    <p>	本项目位于日照市东港区天津路与海滨四路交汇处，项目的总体规划是集居住、购物、休闲、娱乐于一体的大型景观园林生态社区。
    	项目总占地89亩，建筑面积近8万平方米，共20栋现代风格的多层住宅和1栋小高层及1.8万平米的商铺组成。现已是现房销售，优越的区位，便捷的
		交通，浓郁的人文环境，自然生态的园林景观，科学人性化的户型设计，完善的生活和智能化配套，全方位的优质服务和卓越的物业品牌，实力
		雄厚的资质，幸福海岸无论是您居住还是投资都是理想中的最佳选择。
    </p>
</div>
<!--页脚部分-->
<div class="footer_container">
	<div class="footer">
    	<div class="links">
            <a href="../index.html">首页</a>&nbsp;|
            <a href="about_us.html">关于我们</a>&nbsp;|
            <a href="contact.html">联系方式</a>&nbsp;|
            <a href="feedback.html">意见反馈</a>&nbsp;|
            <a href="news.html">新闻资讯</a>&nbsp;|
            <a href="recruitment.html">人才招聘</a>&nbsp;|
            <a href="#"> 友情链接</a><br>
            <span class="contact">电话：86-0512-65386900&nbsp;&nbsp;&nbsp;&nbsp;传真：86-0512-65808505&nbsp;&nbsp;&nbsp;&nbsp;邮箱：sztysjj@163.com</span><br>
            <span class="copyright">版权所有 Copyright(C)南北天城房地产开发有限公司&nbsp;&nbsp;|&nbsp;&nbsp;建议电脑设置分辨率1024*768 苏ICP备05122122号</span>	
        </div>
        <div class="logo_1"><a href="../index.html"></a></div>
    </div>
</div>
<script src="../js/common.js"></script>
</body>
</html>
