<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>欢迎来到南北天城</title>
<link href="../css/common.css" type="text/css" rel="stylesheet" media="screen">
<link href="../css/project_show.css" type="text/css" rel="stylesheet" media="screen">
<script src="../js/jquery.js"></script>
</head>

<body>
<!--导航部分-->
<div class="nav_container">
	<div class="nav_con">
    	<div class="logo">
        	<a href="../index.html"></a>
        </div>
        <div class="nav">
        	<a href="../index.html">首页<br><span>HOME</span></a>
            <a href="about_us.html">关于我们<br><span>ABOUT US</span></a>
            <a href="certificate.html">资质证书<br><span>CERTIFICATE</span></a>
            <a href="#" class="currentA">项目展示<br><span>PROJECT</span></a>
            <a href="news.html">新闻资讯<br><span>NEWS</span></a>
            <a href="recruitment.html">人才招聘<br><span>RECRUITMENT</span></a>
            <a href="feedback.html">意见反馈<br><span>FEEDBACK</span></a>
            <a href="contact.html">联系我们<br><span>CONTACT</span></a>
        </div>
    </div>
</div>
<!--banner部分-->
<div class="banner">
	<img src="../images/banner_11.png">
</div>
<!--主体信息部分-->
<div class="main_container">
	<div class="title">
    	<h1>PROJECT&nbsp;<span>项目展示</span></h1>
    </div>
    <div class="project">
    	<img src="../images/house_1.png">
        <dl>
        	<dt>【幸福海岸】</dt>
            <dd>幸福海岸是由中盛集团投资建设的纯住宅楼项目，项目的总体规划是集居住、购物、休闲、娱乐于一体的大型景观园林生社
            	区。项目总占地89亩，建筑面积近8万平方米，共20栋现代风格的多层住宅和1栋小高层及1.8万平米的商铺组成。
                &nbsp;&nbsp;&nbsp;&nbsp;<a href="project_show_detail01.html">查看详情>></a>
            </dd>
        </dl>
    </div>
    <div class="project">
    	<img src="../images/house_2.png">
        <dl>
        	<dt>【幸福新村】</dt>
            <dd>本项目位于日照市东港区天津路与海滨四路交汇处，小区占地约33亩，项目总建筑面积55000平米，其中住宅约45000平米，
            	商业约10000平米，共规划建设7栋12层小高层。项目分2期开发建设，一期3栋已建成并全部消化完毕，二期为4栋。二期住宅
                约22000平米，商业约7000平米。
                &nbsp;&nbsp;&nbsp;&nbsp;<a href="project_show_detail02.html">查看详情>></a>
            </dd>
        </dl>
    </div>
    <div class="project">
    	<img src="../images/house_3.png">
        <dl>
        	<dt>【商务公寓】</dt>
            <dd>商务公寓是由中盛集团投资建设的商务公寓，这是项目位置图，它位于石臼天津路东段，一中旁，属于石臼核心生活区和学
            	区，11、14、19、22路公交车都可以到达这里；周边有凤凰城、文化社区等成熟居住小区，有石臼一中、日照六中，凤凰小	
                学等学校，与石臼商业中心黄海一路仅隔一条街，天津路对面就是石臼综合大市场和街道办事处，所以在这里生活是非常方便的。
                &nbsp;&nbsp;&nbsp;&nbsp;<a href="project_show_detail03.html">查看详情>></a>
            </dd>
        </dl>
    </div>
</div>
<!--页码-->
<div class="page_con">
     <span>共6条 每页10条 页次：1/1</span>
     <div class="page">
            <a href="" class="page_1">首页</a>
            <a href="" class="page_2">上一页</a>
            <a href="" class="page_3">1</a>
            <a href="" class="page_2">下一页</a>
            <select style="display:block;float:left;margin-right:5px;">
                <option>第1页</option>
            </select>
            <a href="" class="page_1">尾页</a>
    </div>
</div>
<!--页脚部分-->
<div class="footer_container">
	<div class="footer">
    	<div class="links">
            <a href="../index.html">首页</a>&nbsp;|
            <a href="about_us.html">关于我们</a>&nbsp;|
            <a href="contact.html">联系方式</a>&nbsp;|
            <a href="feedback.html">意见反馈</a>&nbsp;|
            <a href="news.html">新闻资讯</a>&nbsp;|
            <a href="recruitment.html">人才招聘</a>&nbsp;|
            <a href="#"> 友情链接</a><br>
            <span class="contact">电话：86-0512-65386900&nbsp;&nbsp;&nbsp;&nbsp;传真：86-0512-65808505&nbsp;&nbsp;&nbsp;&nbsp;邮箱：sztysjj@163.com</span><br>
            <span class="copyright">版权所有 Copyright(C)南北天城房地产开发有限公司&nbsp;&nbsp;|&nbsp;&nbsp;建议电脑设置分辨率1024*768 苏ICP备05122122号</span>	
        </div>
        <div class="logo_1"><a href="../index.html"></a></div>
    </div>
</div>
<script src="../js/common.js"></script>
</body>
</html>
